*{
    margin: 0px;
    padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.navbar{
    max-width: 1360px;
    display: flex;
    margin: 0px auto;
    justify-content:space-between;
    align-items: center;
}
.navlogo{
    padding: 16px 0px;
}
.navmenu{
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 34px 0px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.navbtn{
    width: 164px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    margin: 24px 0px;
    border: none;
    background-color:#30B868;
    border-radius: 4px;
}
.navbanner{
    background-image: url('./img&icn/hero-bg.png');
    height: 647px;
    width: 1600px;
    background-repeat: no-repeat;
    margin-top: 16px;
    display: flex;
}
 .navbanner-contant{
    width: 1360px;
    
  
    margin: 115px  auto;
    align-items: center;
    justify-items: center;
    padding: 1px auto;


}


.navbanner-contant .heading p{
    width: 229px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #30B868;
    text-align: center;
    padding: 10px 1px 10px 1px;
    border-radius: 50px;
}


.navbanner-contant  .heading-info p { font-size:72px;
    font-weight: bold;
    
} 
.heading-info{
    margin: 16px 0px;
}
.p p{
    color: #FFFFFF;
    line-height: 28px;
    
    
}
.navbanner-contant .p{
    margin-bottom: 20px;
}
.navbanner-contant .btnban{
    margin-top: 16px;
    display: flex;
    gap: 16px;
    
    
}
 .navbanner-contant .btn1{
     width: 250px;
     padding: 15px 5px 10px 5px;
     background-color: #30B868;
    
}

.btn1{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    gap: 8px;
    

}
.btn2{
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 198px;
    padding: 16px;
    background-color:transparent;
    
}
main .bodycard{
    max-width: 1600px;
    max-height: 448px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;

    
}
main .bodycardhing{
    width: 1360px;
    margin: 44px auto;
   
}
main .bodycardhing .p11{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}
main .bodycardhing .psmall{
    text-align: center;
    font-size: 16px;
    color: #627382;
    line-height: 20px;

}
 .bodycard .cards {
    display: flex;
    width: 1360px;
    gap: 24px;
    margin-top: 44px;
    margin-left: 120px;
 }
 .bodycard .cards .card-itms{
    width: 322px;
    height: 250px;
    box-shadow: #bdc8d1 0px 0px 4px 0px;
    border-radius: 5px;

    
    
  
 }
 .bodycard .cards .card-itms img{
    width: 32px;
    
    
 }
 .bodycard .cards .card-itms .imgbc{
background-color: #F95555;
width: 60px;
height: 60px;
display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-top: 70px;
    margin-left :131px;
    margin-bottom: 16px;
 }
 .bodycard .cards .card-itms h3 {
    text-align: center;
 }
 .bodycard .cards .card-itms p {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color:#627382 ;
    margin: 16px 24px 0px 24px;
    
 }
 .brain {
     width: 1600px;
     
     margin-top: 60px;
     

     
 }
  .brain-in {
    margin: 125px ;
    display: flex;
    gap: 60px;
    
 }
 .brain-info{
    margin-top: 102px;
 }
 .brain-info .brainp1 {
    color: #30B868;
    font-size: 16px;
    padding-bottom: 20px;
 }
 .brain-info .brainp2{
    font-size: 48px;
    font-weight: bolder;
 }
 .brain-info .brainp3{
    line-height: 20px;
    font-size: 14px;
    color: #627382;
    margin-top: 16px;
 }
 .grar {
    width: 20px;
    height: 20px;
    background-color: #30B868;
    border-radius: 10px;

 }
 .arrogrp{
    margin-top: 35px;

 }
 .greenok{
    display: flex;
    margin-top: 20px;
    
    
 }
 
  .last-main{
    width: 1360px;
    height: 384px;
    
    margin:0px 120px 120px 120px;
    background-color: #F7F6F2;
    border-radius: 10px;
 }
 .lheading{ 
    padding-top: 80px;
    text-align: center;
    

 }
 .lheading h1{
    margin-bottom: 16px;
 }
 .lheading p{
    line-height: 24px;
    font-size: 16px;
    color: #627382;
 }
.lbtn{
    text-align: center;
    margin-top: 30px
    px;
}

    
    

.lbtn .lastbtn {
  width: 194px;
  height: 50px;
  background-color:#30B868;   
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

}
.lbtn p{
    margin-top: 16px;
    color: #627382;
}
.footbox{
    background-color: #001931;
    width: 1600px;
    height: 348px;
    padding-top: 120px;
}
 .footer-contant {
    width: 1360px;
    height: 64px;
    
    margin: 1px auto;
    display: flex;
    justify-content:space-between ;
    
}
.foottext { 
    padding-right: 50px;
    

}
.foottext p { color: #FFFFFF;
    font-size: 20px;

}
.foottext i {
    background-color: #F7F6F2;
    margin-left: 7px;
    margin-top: 7px;
    border-radius: 7px;

}
.copy{
    width: 1360px;
    height: 54px;

    margin: 200px 120px 30px 120px;
}
.copy  {
     border-top: 1px solid #4d507c; 
 text-align: center;
color:#FAFAFA; 
padding-top: 20px;



}
.copy p {
    font-size: 16px;
    
}













