*{
    margin: 0px;
    padding: 0px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.navbar{
    max-width: 1360px;
    display: flex;
    margin: 0px auto;
    justify-content:space-between;
    align-items: center;
}
.navlogo{
    padding: 16px 0px;
}
.navmenu{
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 34px 0px;
    font-size: 16px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.navbtn{
    width: 164px;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 16px;
    margin: 24px 0px;
    border: none;
    background-color:#30B868;
    border-radius: 4px;
}
.navbanner{
    background-image: url('./img&icn/hero-bg.png');
    height: 647px;
    width: 1600px;
    background-repeat: no-repeat;
    margin-top: 16px;
    display: flex;
}
 .navbanner-contant{
    width: 1360px;
    
  
    margin: 115px  auto;
    align-items: center;
    justify-items: center;
    padding: 1px auto;


}
.navbanner-contant .heading p{
    width: 229px;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #30B868;
    text-align: center;
    padding: 10px 1px 10px 1px;
    border-radius: 50px;
}

}
.navbanner-contant  h1 { font-size:3em;
    
} 
.heading-info{
    margin: 16px 0px;
}
.p p{
    color: #FFFFFF;
    line-height: 28px;
}
.navbanner-contant .btnban{
    margin-top: 16px;
    display: flex;
    gap: 16px;
    
    
}
 .navbanner-contant .btn1{
     width: 250px;
     padding: 15px 5px 10px 5px;
     background-color: #30B868;
    
}
.btn1{
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    

}
.btn2{
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 198px;
    padding: 16px;
    background-color:transparent;
    
}





